apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/component: gotify
    

resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - http-route.yaml