apiVersion: v1
kind: Service
metadata:
  name: fireflyiii
  labels:
    app: fireflyiii
    tier: frontend  
spec:
  clusterIP: None
  ports:
    - port: 8080
  selector:
    app: fireflyiii
    tier: frontend