# Ignore Charts
**/charts/*

# Ignore Keys
*.b64
*.crt
*.key

# Ignore Base Sealed Secrets
infrastructure/controllers/sealed-secrets/sealed-secrets-key.yaml

# Ignore all *-secret.yaml files
*-secret.yaml
*-secrets.yaml

# Ignore other .yaml files
sealed-secrets-controller.yaml

# Ignore other files
*.m3u

# Ignore backup files
*.bak

# Ignore folders
.sealed-secrets-rotation