# Ignore Charts
infrastructure/networking/cilium/charts/*
infrastructure/controllers/argocd/charts/*

# Ignore Keys
*.b64
*.crt
*.key
*.pub

# Ignore Base Sealed Secrets
infrastructure/controllers/sealed-secrets/sealed-secrets-key.yaml