# Ignore Charts
infrastructure/networking/cilium/charts/*
infrastructure/controllers/argocd/charts/*

# Ignore Keys
*.b64
*.crt
*.key

# Ignore Base Sealed Secrets
infrastructure/controllers/sealed-secrets/sealed-secrets-key.yaml

# Ignore all *-secret.yaml files
*-secret.yaml

# Ignore other .yaml files
sealed-secrets-controller.yaml