apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cloudnative-pg

labels:
  - pairs:
      app.kubernetes.io/name: cloudnative-pg-barman-plugin
      app.kubernetes.io/component: barman-plugin
      app.kubernetes.io/managed-by: argocd
      app.kubernetes.io/part-of: infrastructure
      

resources:
  - https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.11.0/manifest.yaml
  - barmanObjectStore.yaml
  - barman-s3-credentials-secret-sealed.yaml

patches:
  # Only patch the RoleBinding subject namespace, nothing else needed
  - target:
      kind: RoleBinding
    patch: |-
      - op: replace
        path: /subjects/0/namespace
        value: cloudnative-pg
  # Add labels to pods created by the barman-cloud plugin
  # These labels are needed for Cilium Network Policies
  - target:
      kind: Deployment
      name: barman-cloud
    patch: |-
      - op: add
        path: /spec/template/metadata/labels/netpol.cilium.io~1egress-to-kube-apiserver
        value: "true"
      - op: add
        path: /spec/template/metadata/labels/netpol.cilium.io~1ingress-from-cnpg-operator
        value: "true"