fullnameOverride: metrics-server

serviceAccount:
  create: true
  name: metrics-server-sa

rbac:
  create: true

podLabels:
  # Cilium Network Policies labels
  netpol.cilium.io/egress-to-host: "true"
  netpol.cilium.io/egress-to-kube-apiserver: "true"
  netpol.cilium.io/egress-to-remote-node: "true"
  netpol.cilium.io/ingress-from-host: "true"
  netpol.cilium.io/ingress-from-remote-node: "true"

defaultArgs:
  - --cert-dir=/tmp
  - --kubelet-preferred-address-types=InternalIP,Hostname,ExternalIP
  - --kubelet-use-node-status-port
  - --metric-resolution=15s
  - --kubelet-insecure-tls  # Not safe for production. Set up proper TLS instead: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#kubelet-serving-certs

# See https://github.com/kubernetes-sigs/metrics-server#scaling
resources:
  requests:
    cpu: 100m
    memory: 200Mi