apiVersion: apps/v1
kind: Deployment
metadata:
  name: selenium
  labels:
    app: selenium
spec:
  replicas: 1
  selector:
    matchLabels:
      app: selenium
  template:
    metadata:
      labels:
        app: selenium
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: selenium
          image: selenium/standalone-chrome:4
          env:
            - name: VNC_NO_PASSWORD
              value: "1"
            - name: SCREEN_WIDTH
              value: "1920"
            - name: SCREEN_HEIGHT
              value: "1080"
            - name: SCREEN_DEPTH
              value: "24"
            - name: CHROME_OPTIONS
              value: "--window-size=1280,1024 --headless --disable-gpu"
          ports:
            - containerPort: 4444
          resources:
            requests:
              memory: 128Mi
            limits:
              memory: 2Gi
          readinessProbe:
            tcpSocket:
              port: 4444
            initialDelaySeconds: 5
            periodSeconds: 2
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: dshm
              mountPath: /dev/shm
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: 2Gi