kubernetes:
  host: https://kubernetes.default.svc.cluster.local

fullnameOverride: reloader
nameOverride: reloader

# Settings
reloader:
  reloadStrategy: annotations  # Set this if using ArgoCD/Flux etc
  watchGlobally: true
  readOnlyRootFilesystem: true
  isArgoRollouts: false
  logLevel: debug
  logFormat: json

  deployment:
    containerSecurityContext:
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true

    labels:
      netpol.cilium.io/egress-to-kube-apiserver: "true"
      netpol.cilium.io/ingress-from-prometheus: "true"

    livenessProbe:
      timeoutSeconds: 5
      failureThreshold: 5
      periodSeconds: 10
      successThreshold: 1
    readinessProbe:
      timeoutSeconds: 15
      failureThreshold: 5
      periodSeconds: 10
      successThreshold: 1

    resources:
      limits:
        cpu: "100m"
        memory: "512Mi"
      requests:
        cpu: "10m"
        memory: "128Mi"

  rbac:
    enabled: true
  serviceAccount:
    create: true
    name: reloader-sa

  # Metrics
  podMonitor:
    enabled: false  # Pod Monitor created separately