apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn

resources:
  - namespace.yaml
  - cnpg-longhorn-storage.yaml
  - s3-remote-backup-secret-sealed.yaml
  - backup-settings.yaml
  - recurring-backup-jobs.yaml
  - recurring-snapshot-jobs.yaml
  
helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.11.0
    releaseName: longhorn
    namespace: longhorn
    valuesFile: values.yaml
    includeCRDs: true