apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn

commonAnnotations:
  argocd.argoproj.io/sync-wave: "1"

resources:
  - namespace.yaml
  - http-route.yaml
  - cnpg-longhorn-storage.yaml
  - s3-remote-backup-secret-sealed.yaml
  - backup-settings.yaml
  - recurring-backup-jobs.yaml
  - recurring-snapshot-jobs.yaml
  
helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.10.1
    releaseName: longhorn
    namespace: longhorn
    valuesFile: values.yaml
    includeCRDs: true