apiVersion: apps/v1
kind: Deployment
metadata:
  name: chrome
  labels:
    app: karakeep
    tier: chrome
spec:
  replicas: 1
  selector:
    matchLabels:
      app: karakeep
      tier: chrome
  template:
    metadata:
      labels:
        app: karakeep
        tier: chrome
        netpol.cilium.io/egress-to-intra: "true"
        netpol.cilium.io/egress-to-kube-dns: "true"
        netpol.cilium.io/egress-to-public-ips: "true"
        netpol.cilium.io/ingress-from-intra: "true"
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: chrome
          image: gcr.io/zenika-hub/alpine-chrome:124
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9222
              name: chrome-pod
          command:
            - chromium-browser
            - --headless
            - --no-sandbox
            - --disable-gpu
            - --disable-dev-shm-usage
            - --remote-debugging-address=0.0.0.0
            - --remote-debugging-port=9222
            - --hide-scrollbars
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL