apiVersion: apps/v1
kind: Deployment
metadata:
  name: meilisearch
  labels:
    app: karakeep
    tier: meilisearch
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: karakeep
      tier: meilisearch
  template:
    metadata:
      labels:
        app: karakeep
        tier: meilisearch
        netpol.cilium.io/egress-to-intra: "true"
        netpol.cilium.io/egress-to-kube-dns: "true"
        netpol.cilium.io/ingress-from-intra: "true"
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
      containers:
        - name: meilisearch
          image: getmeili/meilisearch:v1.35.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 7700
              name: meilisearch-pod
          readinessProbe:
            httpGet:
              path: /health
              port: 7700
            initialDelaySeconds: 5
            periodSeconds: 30
          livenessProbe:
            httpGet:
              path: /health
              port: 7700
            initialDelaySeconds: 15
            periodSeconds: 30
          env:
            - name: MEILI_NO_ANALYTICS
              value: "true"
          volumeMounts:
            - mountPath: /meili_data
              name: meilisearch-data
          envFrom:
            - secretRef:
                name: karakeep-secret
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      volumes:
        - name: meilisearch-data
          persistentVolumeClaim:
            claimName: meilisearch-pvc