apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: karakeep
labels:
  - pairs:
      app.kubernetes.io/component: meilisearch
    includeSelectors: true

resources:
  - statefulset.yaml
  - headless-service.yaml