apiVersion: v1
kind: Service
metadata:
  name: meilisearch
spec:
  selector:
    app: meilisearch
  ports:
    - name: meilisearch-svc-port
      protocol: TCP
      port: 7700
      targetPort: meilisearch-pod
  type: ClusterIP