apiVersion: apps/v1
kind: Deployment
metadata:
  name: karakeep-web
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: karakeep-web
  template:
    metadata:
      labels:
        app: karakeep-web
    spec:
      containers:
        - name: karakeep
          image: ghcr.io/karakeep-app/karakeep:release@sha256:abd7d6b11b1b8fa3593d1971f886a74850ba8d6a99291218b150207d5a60378e
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              name: karakeep-pod
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 30
          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 30
          volumeMounts:
            - mountPath: /data
              name: karakeep-data
          envFrom:
            - secretRef:
                name: karakeep-secret
            - configMapRef:
                name: karakeep-configuration
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      volumes:
        - name: karakeep-data
          persistentVolumeClaim:
            claimName: karakeep-pvc