apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/name: cilium
      app.kubernetes.io/component: cilium-networking
      app.kubernetes.io/part-of: infrastructure
      app.kubernetes.io/managed-by: argocd
    
resources:
  - ip-pool.yaml
  - l2-policy.yaml

helmCharts:
  - name: cilium
    repo: https://helm.cilium.io/
    version: 1.19.1
    releaseName: cilium
    namespace: kube-system
    valuesFile: values.yaml
