# Identify the cluster and set the service host and port
cluster:
  name: kubernetes
  id: 1

# Entry point for the Cilium service
k8sServiceHost: cluster.home.arpa
k8sServicePort: 6443

# Gateway API support
gatewayAPI:
  enabled: true
  externalTrafficPolicy: Local
  # Needed for ALPN support in Gateway API
  # and also services/app who wish to use http/2
  enableAppProtocol: true
  enableAlpn: true

# KubeProxy replacement
kubeProxyReplacement: true

# Security context for Cilium components
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

# Necessary if cluster is using systemd cgroup driver
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
  
# IPAM configuration
ipam:
  mode: kubernetes
  operator:
    clusterPoolIPv4PodCIDRList:
      - 10.32.0.0/16

# Ingress controller configuration
ingressController:
  enabled: false

# Operator configuration
operator:
  replicas: 2
  prometheus:
    enabled: true

# API Rate limiting for Kubernetes client
# Formula: QPS = #services * (1 / leaseRenewDeadline)
k8sClientRateLimit:
  qps: 20
  burst: 40

# L2 announcements
l2announcements:
  enabled: true

# Load balancing confs
loadBalancer:
  algorithm: maglev
  acceleration: best-effort

# Enable Hubble for observability
hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
  metrics:
    enableOpenMetrics: true
    enabled:
      - dns
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      - http

# Debugging options
debug:
  enabled: true

# Enable Prometheus integration
prometheus:
  enabled: true

# mTLS configuration
authentication:
  enabled: false
  mutual:
    spire:
      enabled: false
      install:
        server:
          dataStorage:
            storageClass: cilium-spire-sc
