apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

labels:
  - pairs:
      app.kubernetes.io/name: cilium
      app.kubernetes.io/component: cilium-networking
      app.kubernetes.io/part-of: infrastructure
      app.kubernetes.io/managed-by: argocd
    
resources:
  - http-route.yaml
