---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  creationTimestamp: null
  name: alertmanager-receivers-secret
spec:
  encryptedData:
    telegram-bot-token: AgDKFfYlEkrF0eEBdBYfmG7SSmHdfNU/W74lzDj2iytpKQg3iLCtBTMWEUACqD34EW7yfXa+f1Egvul0BU0OdzshLRj7Od/JJTQyM6/mAwIXsaEoyPTQFCPfwNMZNnxWv87ccBb+sJqwW1E3mB4cQUlJHXDBm7jylc7Tm7xfjheSPP8ej5MlomL195DOPqnoOovWfnn+aEERq4OGQyechz24kTx6YJ5HrmJKjmCAk9B9QO3OK6JbJ9GUr118gPOs2beCKMbzdjuhNdZRVWcN+uMShG/AiJkHnDdmTIk2vha3s1qVtO0PlHZUizyzWEq+uzX7q0QMACEvKLhVJ5/ImfVuzzYxFB3Io5s+nlJrEnsZP4y7pg0mvMV4IASffnJG7CmMp9mNlyAWVA+7yt35uNGn+PkAiAqFj4V5f36C/SVY4204AeBb6WwFxBIGsPnR6UW1sb7R25kqci/fP0rioJ2a5cRxiZvNGcM65WSWzalWa7UHShlVPnIFS0USveDUZ1MDO6bJmTCZKOeE6YMxr2P54x0iNSqKsxMD6t3t1qXyOPI99hZFQFPHcS5HHnLVKc4PbcTJN01ThpLTQh6OU0pslIEejLNrNphuUoxe3QydAh4QLtJg6j/2Cg/nXD46I9NnQIV6g9ATg2vMPQNqG49klUbzYQoCEuRjzB3p3F/VHEZiMOtJ0y8OjJURsXbK75JP4vVDBrDdr8aDQKDnZmqHt3840mzVY7eVx9miiurfsBh17O2XXjU/ZPzf9eKg
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      creationTimestamp: null
      name: alertmanager-receivers-secret
