apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: monitoring
spec:
  generators:
    - git:
        repoURL: https://github.com/Tiagura/k8s-gitops.git
        revision: HEAD
        directories:
          - path: monitoring/*
  template:
    metadata:
      name: '{{path.basename}}'
      annotations:
        argocd.argoproj.io/sync-wave: "3"
        argocd.argoproj.io/compare-options: ServerSideDiff=true
      labels:
        app.kubernetes.io/part-of: monitoring
    spec:
      project: monitoring
      source:
        repoURL: https://github.com/Tiagura/k8s-gitops.git
        targetRevision: HEAD
        path: '{{path}}'
        plugin:
          name: kustomize-build-with-helm
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'
      ignoreDifferences:
        - group: apiextensions.k8s.io
          kind: CustomResourceDefinition
          jsonPointers:
            - /spec/preserveUnknownFields
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
          - ApplyOutOfSyncOnly=true
      info:
        - name: Description
          value: 'Monitoring component: {{path.basename}}'