apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - projects.yaml
  # Wave 0: Essential components
  - cilium-app.yaml
  - sealed-secrets-app.yaml
  # Wave 1: Storage components
  - longhorn-app.yaml
  # Wave 2: ArgoCD, gateway, and cert-manager
  - argocd-app.yaml
  - gateway-app.yaml
  - cert-manager-app.yaml
  # Wave 3: Monitoring Stack
  - monitoring-applicationset.yaml
  # Wave 4: Rest of infrastructure components
  - infrastructure-applicationset.yaml
  # Wave 5: User applications databases
  - user-apps-databases-applicationset.yaml
  # Wave 6: User applications components
  - user-apps-applicationset.yaml