apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - applicationset-apps-components.yaml
  - applicationset-infrastructure-components.yaml
  - applicationset-monitoring-components.yaml
  - projects.yaml