apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  generators:
    - git:
        repoURL: https://github.com/Tiagura/k8s-gitops.git
        revision: main
        directories:
          - path: monitoring/*
  template:
    metadata:
      name: '{{path.basename}}'
      labels:
        app.kubernetes.io/part-of: monitoring
        app.kubernetes.io/managed-by: argocd
    spec:
      project: monitoring
      revisionHistoryLimit: 3
      source:
        repoURL: https://github.com/Tiagura/k8s-gitops.git
        targetRevision: main
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
          - ApplyOutOfSyncOnly=true
          - RespectIgnoreDifferences=true
        retry:
          limit: 5
          backoff:
            duration: 1m
            factor: 2
            maxDuration: 10m
      ignoreDifferences:
        - group: gateway.networking.k8s.io
          kind: HTTPRoute
          jsonPointers:
            - /spec/rules/0/backendRefs/0/weight
            - /spec/rules/0/backendRefs/0/kind
            - /spec/rules/0/backendRefs/0/group
        - group: "apps"
          kind: "StatefulSet"
          jqPathExpressions:
            - ".spec.volumeClaimTemplates[].apiVersion"
            - ".spec.volumeClaimTemplates[].kind"
      info:
        - name: Description
          value: 'Monitoring component: {{path.basename}}'