apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - namespace.yaml
  - http-route.yaml
  - ../../../common/cilium-network-policies/

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.2.3
    releaseName: "argocd"
    namespace: argocd
    valuesFile: values.yaml