apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sealed-secrets

labels:
  - pairs:
      app.kubernetes.io/name: sealed-secrets
      app.kubernetes.io/component: sealed-secrets-controller
      app.kubernetes.io/part-of: infrastructure
      app.kubernetes.io/managed-by: argocd

resources:
  - namespace.yaml

helmCharts:
  - name: sealed-secrets
    repo: https://bitnami-labs.github.io/sealed-secrets
    version: 2.17.9
    namespace: sealed-secrets
    valuesFile: values.yaml