apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-zabbix-datasource
  labels:
    grafana_datasource: "1"
data:
  zabbix-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Zabbix
        type: alexanderzobnin-zabbix-datasource
        uid: zabbix
        url: http://zabbix-host/zabbix/api_jsonrpc.php
        access: proxy
        jsonData:
          username: ${grafana-zabbix-user}
          trends: true
          trendsFrom: '7d'
          trendsRange: '4d'
          cacheTTL: '1h'
          alerting: true
        secureJsonData:
          password: ${grafana-zabbix-password}
        version: 1
        editable: false
